body {
  margin: 0;
  height: 100% !important;

}

.MuiTabPanel-root{
padding: 0 !important;
}
.MuiAppBar-colorPrimary{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(254,17,62,0.9279061966583508) 35%, rgba(0,212,255,1) 100%) !important;
background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
}

.CodeMirror {
  height: 100% !important;
}
.bottom{
  display: flex !important;
  height: 100% !important;

}
.MuiTabs-flexContainer{
  
}
